<!DOCTYPE html>
<html lang="en">
<head>
<title>Meme Editor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="Meme Editor"/>
<meta property="og:description" content="Web Meme Editor"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://<%- Config.domain %>/memed"/>
<meta property="og:site_name" content="<%- Config.title %>"/>
<meta property="og:image" content="https://<%- Config.domain %>/ui/thumb/memed.jpg"/>
<meta property="og:image:type" content="image/jpg"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<link rel="stylesheet" href="dist/main.min.css">
<link rel="stylesheet" href="dist/meme-editor.min.css">

<script src="dist/utils-base.min.js"></script>
<script src="dist/core.min.js"></script>
<script src="dist/meme-editor.min.js"></script>

<script src="dist/tfjs.js"></script>
<script src="dist/body-pix.js"></script>
<script src="dist/body-segmentation.js"></script>

</head>
<body>
<!-- <h1>Hello World!</h1> -->
<!-- <h1 class="w3-margin-left wm8">Meme Editor</h1> -->

<%- include('help.html') %> 
<%- include('titlebar.html') %> 

<%- include('editor', { production }) %> 

<script>

	function showHelp() {
		const e = document.getElementById('modal-dialog');
	
		e.style.display = "block";
	}
	
	</script>

</body>
</html>
