<div class="row reverse" style="margin: 0 10px 5px 10px">
	<div class="column w3-container w3-card-2 w3-padding" style="max-width:500px;min-width:300px;width:350px;margin: 5px 0;">
		<%- include('tabs.html') %>
		<div class="column monospace noverflow">
			<%- include('properties.html') %>
			<%- include('objects.html') %>
			<%- include('canvas.html') %>
			<%- include('projects.html') %>
			<%- include('images.html') %>
		</div>
	</div>
	<div class="v-sash reverse" style="background-color:#cacaca"></div>
</div>